body {
   	background-color: #FFFFFF;
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 80px);
    color: #555555;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;
}
#container {
    height: auto;
    margin: 0 auto;
    width: 800px;
}
#contents {
    border-left: 1px solid #CCCCCC;
    height: auto;
    margin-left: 199px;
    padding-bottom: 10px;
}
.hentry {
    clear: both;
    height: auto;
    position: relative;
}
.hentry:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.hentry .main {
    border-bottom-color: #DDDDDD;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    float: left;
    line-height: 175%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 29px;
    text-align: left;
    width: 580px;
}
.hentry .entry-meta {
    float: left;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -199px;
    margin-right: 0;
    margin-top: 35px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    
    width: 190px;
}

.hentry .entry-meta div {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.hentry .entry-meta .date {
    color: #000000;
    font-weight: bold;
   	margin: 0;    
}
.hentry .entry-meta .location{
    color: #AAAAAA;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}
.hentry .entry-meta .edit, .hentry .entry-meta .remove{
    color: #36BCAB;
    font-size: 18px;
    display: block;
    font-weight: bold;
    margin: 2px 0;
}
.hentry .entry-meta .edit:hover, .hentry .entry-meta .remove:hover{
	cursor: pointer;
	color: black;
}
.entry-title {
    color: #666666;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 38px;
    margin: 5px 0 15px 0;
    text-align: left;
    text-transform: uppercase;
}

.entry iframe{
	z-index: 1;
	wmode=transparent;
}
/*FORM STYLE*/
#add_news{
	height: 570px;
	width: 1000px;
	border: black 1px solid;
	position: absolute;
	z-index: 999;
	left: 50%;
	margin-left: -500px;
	background-color: white;
	top: -571px;
	
	
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
}
#space{
	/*height: 570px;*/
	height: 0;
}

input{
	margin: 20px 20px 0 20px;
}
label{
	margin: 20px 2px 0 20px;
	font-size: 20px;
	font-style: bold;
}
#news_content {
	position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    height: 480px;
    width: 900px;  
}
#submit{
	width: 130px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -65px;
	margin-bottom: 10px;
}
#show_add_news{
	width: 130px;
	height: 20px;
	background-color: black;
	color: white;
	position: absolute;
	left: 50%;
	margin-left: -65px;
	bottom: -20px;
}

#show_add_news:hover,#switch_mode:hover{
	cursor: pointer;
}
#switch_mode{
	display: none;
	width: 130px;
	height: 20px;
	background-color: black;
	color: white;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	bottom: -20px;
}