
body {
   	   
    /*color: #555555;*/
    color: white;
   /* font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;*/
    
}
#wrap {
    /*height: auto;*/

    width: 800px;
    /*background: rgba(255,255,255,0.15);*/
    background: rgba(0,0,0,0.75);
    z-index: 10;
    margin: 0 auto;
    -moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;

}

#contents {
    border-left-color: #ababab;
    border-left: 1px solid;
    height: auto;
    margin-left: 199px;
    padding-bottom: 10px;
   
  	font-size: 13px;
}
.hentry {
    clear: both;
    height: auto;
    position: relative;
}
.hentry:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.hentry .main {
    border-bottom-color: #ababab;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    float: left;
    line-height: 175%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 29px;
    text-align: left;
    width: 580px;
}
.hentry .entry-meta {
    float: left;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -199px;
    margin-right: 0;
    margin-top: 35px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    
    width: 190px;
   
}

.hentry .entry-meta div {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.hentry .entry-meta .date {
    /*color: #000000;*/
    color: white;
    font-weight: bold;
   	margin: 0;    
}
.hentry .entry-meta .location{
    /*color: #6b6b6b;*/
    color: white;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;

}


.entry-title {
    /*color: #404040;*/
    color: #3469ff;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 38px;
    margin: 5px 0 15px 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
.entry-title a{
	text-decoration: none;
	color: inherit;
	
}
.entry-title a:hover{
	
	color: white;
}

.entry-content a{
	margin-top: 10px;
	display: block;
	color: inherit;
	text-decoration: none;
}
.entry-content a:hover{
	color: #3469ff;
}
